@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(markdown.css);
@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');

body {
  background-color: #d8eefe;
  color: #094067;
  font-family: 'Proxima Nova', sans-serif;
}

.overflow-scroll::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.card-color {
  /* https://www.happyhues.co/palettes/3 */
  background-color: #fffffe;
}