@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(markdown.css);

body {
  background-color: #d8eefe;
  color: #5f6c7b;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  color: #094067;
}

h2 {
  color: #094067;
}

strong {
  color: #094067;
}

.overflow-scroll::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.card-color {
  /* https://www.happyhues.co/palettes/3 */
  background-color: #fffffe;
}
